// Reset
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	border: none;
	transition: all 0.3s;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: "Poppins";
}

// Typography
@font-face {
	font-family: "Poppins";
	src: url("../typography/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Amarante";
	src: url("../typography/Amarante/Amarante-Regular.ttf") format("truetype");
	font-weight: 400;
}

// Colors
$primary-color: #ee1720;
$secondary-color: #201d1d;

$border-radius-general: 25px;
$deep-shadow: 0 2px 12px #0f0f0f;
// Utilities
.important-text {
	color: $primary-color;
}
.important-text-2 {
	color: $secondary-color;
}
.bold {
	font-weight: 600;
}
.italic {
	font-style: italic;
}
.underline {
	text-decoration: underline;
}
hr {
	width: 100%;
	height: 1px;
	background-color: white;
}
.section {
	margin-bottom: 2rem;
}
.section-title {
	font-family: "Amarante";
	color: $primary-color;
	margin-bottom: 1rem;
}
.hidden {
	display: none;
}
.shown {
	display: flex;
	opacity: 1;
}
.btn {
	padding: 0.7rem 2rem;
	border-radius: $border-radius-general;
	background-color: $primary-color;

	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	width: 100%;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;

	&:hover {
		opacity: 0.6;
	}
	&:active {
		transform: scale(0.9);
	}
}
.ghost-btn {
	background: transparent;
	border: solid 2px $primary-color;
	color: $primary-color;

	&:hover {
		background-color: $primary-color;
		opacity: 1;
		color: white;
	}
}
.warning-text {
	color: red;
}
body {
	background-color: $secondary-color;
}
.body-container {
	padding: 1rem;
	max-width: 1000px;
	min-height: 100vh;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr;
	gap: 50px;
	margin-top: 2rem;
	color: white;
}
